    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <div style="border: 0px solid #EBE8D5;border-radius:10px;padding: 0px 7px 0px 7px;"><br><div id="gr_quote_body">"We weep for the blood of a bird, but not for the blood of a fish. Blessed are those who have voice."— <a title="Mamoru Oshii quotes" href="https://www.goodreads.com/author/quotes/20310.Mamoru_Oshii">Mamoru Oshii</a><br><br></div><script src="https://www.goodreads.com/quotes/widget/6505848-daniel?v=2" type="text/javascript"></script></div>
          <p>{{ site.author }} &copy; {{ site.copyright }}</p>
          {% include social.html %}
        </div>
      </div>
    </footer>
