    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <div class=quotes>
            <a href="https://www.goodreads.com/user/show/6505848-daniel" style="text-decoration: none;color:#aaa;font-family:georgia,serif;font-style:italic;"</a>
            <script src="https://www.goodreads.com/quotes/widget/6505848-daniel?v=2" type="text/javascript"></script>
            <div style="text-align: right;">
              <a href="https://www.goodreads.com/quotes" style="color: #382110; text-decoration: none; font-size: 10px;"</a>
              </div>
          </div>
          <p>{{ site.author }} &copy; {{ site.copyright }}</p>
          {% include social.html %}
        </div>
      </div>
    </footer>
