<div class="sidebar ">
  <h2 class="sidebar-recent-posts-text">Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2 class="sidebar-tags-text">Tags</h2>
  <ul class="fa-ul">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li><span class="fa-li"><i class="fas fa-tag"></i></span>
            <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
  <div style="border: 0px solid #EBE8D5; border-radius:10px; padding: 0px 0px 0px 0px;"><h2><a href="https://www.goodreads.com/user/show/6505848-daniel" style="color: #9ADD15;" rel="nofollow">Quotes</a></h2><div id="gr_quote_body">&quot;We weep for the blood of a bird, but not for the blood of a fish. Blessed are those who have voice.&quot;&mdash; <a title="Mamoru Oshii quotes" href="https://www.goodreads.com/author/quotes/20310.Mamoru_Oshii">Mamoru Oshii</a><br/><br/></div><script src="https://www.goodreads.com/quotes/widget/6505848-daniel?v=2" type="text/javascript"></script><div style="text-align: right;"></div></div>
</div>
