<div class="sidebar ">
  <h2 class="sidebar-recent-posts-text">Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2 class="sidebar-tags-text">Tags</h2>
  <ul class="fa-ul">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li><span class="fa-li"><i class="fas fa-tag"></i></span>
            <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
  <div style="border: 0px solid #EBE8D5; border-radius:10px; padding: 0px 0px 0px 0px;"><h2><a href="https://www.goodreads.com/user/show/6505848-daniel" style="color: #9ADD15;" rel="nofollow">Quotes</a></h2><div id="gr_quote_body">&quot;We weep for the blood of a bird, but not for the blood of a fish. Blessed are those who have voice.&quot;&mdash; <a title="Mamoru Oshii quotes" href="https://www.goodreads.com/author/quotes/20310.Mamoru_Oshii">Mamoru Oshii</a><br/><br/></div><script src="https://www.goodreads.com/quotes/widget/6505848-daniel?v=2" type="text/javascript"></script><div style="text-align: right;"></div></div>
  <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
.gr_custom_container_1617141350 {
/* customize your Goodreads widget container here*/
border: 1px solid gray;
border-radius:10px;
padding: 10px 5px 10px 5px;
background-color: transparent;
color: #000000;
width: 200px
}
.gr_custom_header_1617141350 {
/* customize your Goodreads header here*/
border-bottom: 1px solid gray;
width: 100%;
margin-bottom: 5px;
text-align: center;
font-size: 120%
}
.gr_custom_each_container_1617141350 {
/* customize each individual book container here */
width: 100%;
clear: both;
margin-bottom: 10px;
overflow: auto;
padding-bottom: 4px;
border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1617141350 {
/* customize your book covers here */
overflow: hidden;
height: 160px;
text-align: center;
width: 100%;
}
.gr_custom_author_1617141350 {
/* customize your author names here */
font-size: 10px;
}
.gr_custom_tags_1617141350 {
/* customize your tags here */
font-size: 10px;
color: gray;
}
.gr_custom_rating_1617141350 {
/* customize your rating stars here */
float: right;
}
</style>

<div id="gr_custom_widget_1617141350">
    <div class="gr_custom_container_1617141350">
<h2 class="gr_custom_header_1617141350">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/6505848-daniel?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Currently Reading</a>
</h2>
<div class="gr_custom_each_container_1617141350">
    <div class="gr_custom_book_container_1617141350">
      <a title="Dracula" rel="nofollow" href="https://www.goodreads.com/review/show/3553805823?utm_medium=api&amp;utm_source=custom_widget"><img alt="Dracula" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1314899782l/72485._SX98_.jpg" /></a>
    </div>
</div>
<div class="gr_custom_each_container_1617141350">
    <div class="gr_custom_book_container_1617141350">
      <a title="Linux Basics for Hackers: Getting Started with Networking, Scripting, and Security in Kali" rel="nofollow" href="https://www.goodreads.com/review/show/3611355848?utm_medium=api&amp;utm_source=custom_widget"><img alt="Linux Basics for Hackers: Getting Started with Networking, Scripting, and Security in Kali" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1515306341l/37845940._SX98_.jpg" /></a>
    </div>
</div>
<div class="gr_custom_each_container_1617141350">
    <div class="gr_custom_book_container_1617141350">
      <a title="CompTIA Network+ Certification All-in-One Exam Guide, Seventh Edition (Exam N10-007)" rel="nofollow" href="https://www.goodreads.com/review/show/3876777551?utm_medium=api&amp;utm_source=custom_widget"><img alt="CompTIA Network+ Certification All-in-One Exam Guide, Seventh Edition" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1527789126l/40266399._SX98_.jpg" /></a>
    </div>
</div>
<br style="clear: both"/>
<center>
<a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Daniel, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/6505848.Daniel's%20bookshelf:%20currently-reading?cover_position=middle&cover_size=medium&num_books=3&order=a&shelf=currently-reading&show_author=0&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=0&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1617141350&widget_text_color=000000&widget_title_size=medium&widget_width=thin" type="text/javascript" charset="utf-8"></script>
</div>
